QWidget#Note{
	/*background-color:#3b3b3b;*/
}

QWidget#Note QTextEdit{
	/*background-color:#8d8a8b;*/
	/*background-color: transparent;
	background-image: url(images/notepad.png);
	background-repeat: no-repeat;*/
	padding: 5px 5px 5px 20px;
	/*background-attachment:fixed;*/
	color:#e0e7a6;
	/*border: 1px solid #e0e7a6;*/
	border-radius: 10px;		
}
 
QWidget#Note QScrollBar:vertical{ 
	background-color: #8d8a8b;
	width: 8px;
}

QScrollBar::handle:vertical {
    background-color: #3b3b3b;
	border: 0px; 
	border-radius: 3px;
}